extends ../partials/layout

block variables
  - var template = 'detail';

block content
  .detail
    .detail__wrapper
      figure.detail__media
        img.detail__media__image(
          src=product.data.model.url,
          alt=product.data.model.alt
        )

      .detail__information
        p.detail__information__collection= product.data.collection.data.title

        h1.detail__information__title= product.data.title

        .detail__information__content
          .detail__information__highlights
            each highlight in product.data.highlights
              p.detail__information__highlight
                if highlight.highlights_icon.toLowerCase() == 'arrow'
                  svg.detail__information__highlight__icon(
                    width='40',
                    height='40',
                    viewbox='0 0 40 40',
                    fill='none',
                    xmlns='http://www.w3.org/2000/svg'
                  )
                    path(
                      d='M20 0.5C25.1709 0.50265 30.1293 2.55797 33.7856 6.21436C37.442 9.87074 39.4974 14.8291 39.5 20C39.5 25.1717 37.4455 30.1316 33.7886 33.7886C30.1316 37.4455 25.1717 39.5 20 39.5C14.8283 39.5 9.86839 37.4455 6.21143 33.7886C2.55447 30.1316 0.5 25.1717 0.5 20C0.50265 14.8291 2.55797 9.87074 6.21436 6.21436C9.87074 2.55797 14.8291 0.50265 20 0.5Z',
                      stroke='currentColor'
                    )
                    path(
                      d='M29.85 12.36L30.51 10L28.2 10.66L25.61 10.71L27.9199 12.64L29.85 14.95V12.36Z',
                      fill='currentColor'
                    )
                    path(
                      d='M10.6599 28.15L10 30.51L12.3099 29.85L14.9 29.8L12.59 27.87L10.6599 25.56V28.15Z',
                      fill='currentColor'
                    )
                    path(
                      d='M14.6 25.91C14.6 25.91 21.4931 19.0168 25.9099 14.6M30.51 10L29.85 12.36V14.95L27.9199 12.64L25.61 10.71L28.2 10.66L30.51 10ZM10 30.51L10.6599 28.15V25.56L12.59 27.87L14.9 29.8L12.3099 29.85L10 30.51Z',
                      stroke='currentColor'
                    )
                else
                  svg.detail__information__highlight__icon(
                    width='40',
                    height='40',
                    viewbox='0 0 40 40',
                    fill='none',
                    xmlns='http://www.w3.org/2000/svg'
                  )
                    path(
                      d='M20 0.5C25.1709 0.50265 30.1293 2.55797 33.7856 6.21436C37.442 9.87074 39.4974 14.8291 39.5 20C39.5 25.1717 37.4455 30.1316 33.7886 33.7886C30.1316 37.4455 25.1717 39.5 20 39.5C14.8283 39.5 9.86839 37.4455 6.21143 33.7886C2.55447 30.1316 0.5 25.1717 0.5 20C0.50265 14.8291 2.55797 9.87074 6.21436 6.21436C9.87074 2.55797 14.8291 0.50265 20 0.5Z',
                      stroke='currentColor'
                    )
                    path(
                      d='M24.2698 9.87L21.5098 18.47L30.2297 15.84L22.0697 19.97L30.2197 24.24L21.5098 21.42L24.3297 30.32L20.0697 21.98L15.9298 30.13L18.5598 21.42L9.96973 24.17L18.1198 19.97L9.77979 15.64L18.5598 18.47L15.7397 9.67999L20.0598 18.03L24.2698 9.87Z',
                      fill='currentColor'
                    )

                span.detail__information__highlight__text!= highlight.highlights_text.replace(/\n/, '<br>')

          .detail__information__list
            each item in product.data.informations
              p.detail__information__item
                strong.detail__information__item__title= item.informations_label
                span.detail__information__item__description= item.informations_description

          a.detail__information__link(
            href=product.data.link_url.url,
            target='_blank'
          )= product.data.link_text

    button.detail__button Close
      svg.detail__button__icon(
        xmlns='http://www.w3.org/2000/svg',
        viewBox='0 0 125 61'
      )
        path(
          stroke='currentColor',
          fill='none',
          d='M62.5.5c34.24,0,62,13.43,62,30s-27.76,30-62,30S.5,47.07.5,30.5,28.26.5,62.5.5Zm0,.5c34,0,61.5,13.21,61.5,29.5S96.47,60,62.5,60,1,46.79,1,30.5,28.53,1,62.5,1Z'
        )
